@model IEnumerable<marketproject.Models.Categoria>
@{
    Layout = "_LayoutAdmin";
}
<h3>Categorias</h3>
<hr/>
<a asp-controller="Gestao" asp-action="NovaCategoria" class="btn btn-success">Criar nova categoria</a>
<hr/>

<script>
    $(document).ready( function () {
    $('#categorias').DataTable();
} );
</script>

<table id="categorias"class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr>
                <td>@categoria.Id</td>
                <td>@categoria.Nome</td>
                <td><a class="btn btn-primary" href="/Gestao/EditarCategoria/@categoria.Id">Editar</a> 
                    <form asp-controller="Categoria" asp-action="Deletar" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@categoria.Id">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>